.index .user-item {
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.index .user-item-image {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.index .user-item-image img {
    width: 100%;
    height: 100%;
}