.user .user-image {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.user .user-image img {
	height: 100%;
	width: 100%;
}

.user .user-detail-set {
	float: left;
}

.user .user-detail-item {
	margin-bottom: 5px;
}