.alert {
    padding: 10px;
    color: white;
}

.alert-warn {
    background-color: yellow;
}

.alert-error {
    background-color: red;
}

.alert-title {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}